@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap');
body{
  font-family: 'Kosugi Maru', sans-serif;
}

.image_style{
  width: 100px;
  height: 200px;
  object-fit: cover;
  &.not_built{
    filter:brightness(40%);
  }
}

.series_title{
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: green;
  margin: 10px;
}